/*reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/*reset end*/

/* SCSS extend */
%contentGrid {
  display: grid;
  grid-template-columns: 5% 10% 11% 11% 15% 11% 11% 11% 15%;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
  font-size: 14px;
}

%checkbox-img {
  img {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
  }
}

%checked {
  &:checked {
    &::after {
      content: "\2714";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: 14px;
    }
  }
}

/* style */
html,body {
  height: 100%;
  font-family: 'Roboto'
}
.main-app {
  height: 100%;
  width: 100%;
  header {
      nav {
        width: 100px;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #03396A;
        .nav-logo {
          padding-top: 30px;
          img {
            width: 100px;
          }
        }
        .nav-selectors {
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .select-item {
            width: 40px;
            height: 40px;
            margin-bottom: 60px;
            position: relative;
            &.active {
              background-color: #fff;
            }
            img {
              width: 30px;
              height: 30px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              cursor: pointer;
            }
          }
        }
        .nav-dark {
          width: 100%;
          img {
            width: 30px;
            height: 30px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
          }
        }
      }
  }
  main {
    height: 100%;
    margin-left: 100px;
    background-color: #f5f5f5;
    .main-container {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      .main-title {
        padding-top: 50px;
        font-size: 3rem;
      }
      .main-content {
        width: 100%;
        margin-top: 30px;
        position: relative;
        .main-content-schema {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;  
          display: grid;
          @extend %contentGrid;
          background-color: #CDCDCD;
          .schema-item {
            width: 100%;
            height: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
            position: relative;
          }
          #schema-checkbox {
            input {
              -webkit-appearance: none;
              &[type="checkbox"] {
                @extend %checked; 
              }
            }
            @extend %checkbox-img;
          }
          #schema-advertiser {
            height: 80%;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: repeat(2, 1fr);
            p {
              color: #828282;
            }
          }
          #schema-price,
          #schema-start,
          #schema-end {
            img {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              cursor: pointer;
            }
          }
        }
        .main-content-datas {
          width: 100%;
          max-height: 750px;
          position: absolute;
          top: 50px;
          left: 0;
          right: 0;
          overflow-y: scroll;
          .datas {
            @extend %contentGrid;
            &.bgWhite {
              background-color: #fff;
            }
            &.bgGray {
              background-color: #E9E9E9;
            }
            .data-item {
              width: 100%;
              height: 100%;
              display: grid;
              justify-items: center;
              align-items: center;
              position: relative;
              img {
                display: block;
              }
            }
            #data-checkbox {
              input {
                -webkit-appearance: none;
                &[type="checkbox"] {
                  @extend %checked;
                }
              }
              @extend %checkbox-img;
            }
            #data-advertiser {
              height: 80%;
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: repeat(2, 1fr);
              p {
                color: #828282;
              }
            }
            #data-actions {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

